@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    color: #262626;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

img {
    vertical-align: baseline;
}



/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    color: #262626;
}

a:visited {
    color: #757686;
}

a:hover, a:focus, a:active {
    color: #262626;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header{
    background: #1C2833;
}



/*
# Site Branding
--------------------------------*/
.site-branding {
    width: calc(100% - 24px);
    padding: 20px 0;
}

.site-branding a {
    margin-top: 6px;
}

@media screen and (min-width: 992px){
    .site-branding {
        width: auto;
    }
}

/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
    position: relative;
    width: 24px;
    height: 22px;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background:white;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*
# Main Menu
--------------------------------*/
.site-navigation ul {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    padding: 30px 15px;
    margin: 0;
    background:#1C2833;  
    list-style: none;
    overflow-x: scroll;
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li {
    margin: 0 16px;
}
.site-navigation ul li a {
    display: block;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #1ABC9C;
    text-decoration: none;
    transition: color .35s;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }

    .site-navigation ul li a {
        padding: 49px 0 30px;
    }
}

.site-navigation ul li.current-menu-item a {
   
    color:#1ABC9C;
}

.site-navigation ul li a:hover{
    color:white;
}

/* Search Bar -------------------*/
.search{
    margin-top: 20px;
}

#searchInput{
    height: 50px;
    border: 3px solid #00B4CC;
}

.searchButton{
  border:solid #00B4CC;
  background: #00B4CC;
  color: #fff;
  cursor:pointer;
}

.searchButton:hover{
    color: #262626
}

input[type="text"].big-dog::-webkit-input-placeholder {
    color: red;
  }




/* CATEGORY CSS -------------------------------------*/
#category{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    text-align: center
}

@media(max-width:768px){
    #categories{
        display: none;
    }
}

.postAdd{
        margin:auto;
        display:block;
}

/* searchForm ----------------------------------*/
#searchForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/*---------------------------------------------*/



.box select{
    background: #10222e;
    color: #fff;
    padding: 15px;
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: auto;
    
}

.box{
    margin:auto;
    display:block;
    width: 250px;
    margin-bottom: 3px;
}

#Form{
    margin:auto;
    display:block;
}

.searchForm{
     
    border-radius: 3px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#dropdown{
    text-align: center;
    font-family:'Roboto', sans-serif;
}

select {
    text-align: center;
    text-align-last: center;
  }

/*----------------------------*/
.formHeader{
    margin:auto;
    display:block;
    font-style: 'Roboto', sans-serif;
}



/* -------------------------------------------*/

#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}


#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fab {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.5s;
}

#myFooter .fa-facebook-f:hover {
    color: #3B5998;
    transform: rotateY(360deg);
}

#myFooter .fa-facebook-f:focus {
    color: #3B5998;
}

#myFooter .fa-google-plus-g:hover {
    color: #d34836;
}

#myFooter .fa-google-plus-g:focus {
    color: #d34836;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

#footersection{
    margin-bottom: -10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    /* color: #e2c909; */
    font-size: 125%;
}
body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
/**-------------------------------*/
#contactForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    margin-top: -8px;
}

#contactForm2{
    background-color: #1ABC9C; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    color: white;
}


/*----------------------- Youtube button*/

#youtube{
    margin: auto;
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #ff0000;
    color: black;
}


/*--------------------------------Privacy */

#material-button-raised {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 4px;
    border: none;
    border-radius: 2px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    background-color: #21618C;;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }
  

  /*-------------------Images*/

  #Images{

    max-width: 300px; 
    max-height: 200px;
    
  }
